---
import "../styles/global.css";
import Navbar from "../Components/navbar.astro";
import Footer from "../Components/footer.astro";

const fruits = [

];
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header>
    <Navbar />
</header>
<body>
    <section class="relative h-[80vh] flex items-center justify-center text-center text-white">

    </section>
</body>
<footer>
    <Footer />
</footer>
</html>